/*
========================================================================================
    Chimeric Interaction Sequence Extraction Pipeline Configuration
========================================================================================
*/

params {
    // Input/Output options
    input              = null        // Path to samplesheet (TSV: sample_id, file_path)
    input_pattern      = null        // Glob pattern for input files (e.g., "data/*.txt")
    fasta              = null        // Path to reference genome FASTA file
    fai                = null
    outdir             = './results' // Output directory

    // Processing options
    chunk_size         = 10000       // Number of rows per chunk
    shuffled_mfe       = false       // Enable MFE calculation for shuffled control sequences
    n_shuffles         = 100         // How many times to shuffle the sequence
    klet_shuffles      = 2           // klet for ushuffle
    // // Resource options
    // max_cpus           = 4
    // max_memory         = 8.GB
    // max_time           = 24.h
}

// Load base.config by default
includeConfig 'conf/base.config'


//  Sets a publishDir directive for all processes and defines the output directory dynamically
process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Process-specific configurations
process {
    // Default resources
    cpus   = 1
    memory = 4.GB
    time   = 4.h

    withName: SPLIT_TABLE {
        cpus   = 1
        memory = 2.GB
    }

    withName: PREPARE_BED {
        cpus   = 1
        memory = 2.GB
    }

    withName: EXTRACT_SEQUENCES {
        cpus   = 2
        memory = 4.GB
    }

    withName: ADD_SEQUENCES {
        cpus   = 1
        memory = 2.GB
    }

    withName: CONCATENATE_TABLES {
        cpus   = 1
        memory = 4.GB
    }
}

// Execution profiles
profiles {
    standard {
        process.executor = 'local'
    }

    crick { includeConfig 'conf/crick.config' }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        
    }

    singularity { 
        singularity.enabled = true
        singularity.autoMounts = true
        runOptions = "--bind $PWD"
        conda.enabled = false
        docker.enabled = false
    }

}

// Manifest
manifest {
    name            = 'nf-mfe'
    author          = 'Ira Iosub & Seqera AI'
    homePage        = 'https://github.com/iraiosub/nf-mfe'
    description     = 'Extract sequences for chimeric interaction coordinates'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

// Capture Nextflow log files
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
    overwrite = true
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}
